In [1]:
import pandas as pd
import yfinance as yf

In [2]:
import yfinance as yf

# Define the ticker symbols
tickers = ['AAPL', 'AMGN', 'AXP', 'BA', 'CAT', 'CRM', 'CSCO', 'CVX', 'DIS',
    'DOW', 'GS', 'HD', 'HON', 'IBM', 'INTC', 'JNJ', 'JPM', 'KO',
    'MCD', 'MMM', 'MRK', 'MSFT', 'NKE', 'PG', 'TRV', 'UNH', 'V',
    'VZ', 'WBA', 'WMT', 'DJI'
]

# Create a dictionary to hold dataframes
dataframes = {}

# Fetch data for each ticker
for ticker in tickers:
    data = yf.download(ticker)
    dataframes[ticker] = data

# set up params: 
def create_ticker_variables(dataframes):
    for ticker, data in dataframes.items():
        globals()[ticker.lower()] = data
        
create_ticker_variables(dataframes)

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

In [3]:
mmm.head()

            Open      High       Low     Close  Adj Close  Volume
Date
1962-01-02   0.0  4.250000  4.125000  4.156250   0.724556  212800
1962-01-03   0.0  4.187500  4.085938  4.187500   0.730004  422400
1962-01-04   0.0  4.257813  4.187500  4.187500   0.730004  212800
1962-01-05   0.0  4.171875  4.062500  4.078125   0.710936  315200
1962-01-08   0.0  4.085938  4.031250  4.054688   0.706851  334400

In [4]:
mmm.tail()

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2023-07-20,103.169998,104.730003,102.510002,104.290001,104.290001,2866300
2023-07-21,104.169998,104.540001,103.220001,104.330002,104.330002,2498700
2023-07-24,104.529999,105.599998,103.980003,104.269997,104.269997,3333400
2023-07-25,107.550003,110.849998,107.010002,109.830002,109.830002,8773000
2023-07-26,109.839996,111.919998,109.870003,111.580002,111.580002,880552

In [5]:
for df in dataframes.values():
    df['MA50'] = df.Close.rolling(50).mean()
    df['MA200'] = df.Close.rolling(200).mean()

In [6]:
mmm.head(200)

,Open,High,Low,Close,Adj Close,Volume,MA50,MA200
Date,,,,,,,,
1962-01-02,0.0,4.250000,4.125000,4.156250,0.724556,212800,NaN,NaN
1962-01-03,0.0,4.187500,4.085938,4.187500,0.730004,422400,NaN,NaN
1962-01-04,0.0,4.257813,4.187500,4.187500,0.730004,212800,NaN,NaN
1962-01-05,0.0,4.171875,4.062500,4.078125,0.710936,315200,NaN,NaN
1962-01-08,0.0,4.085938,4.031250,4.054688,0.706851,334400,NaN,NaN
...,...,...,...,...,...,...,...,...
1962-10-09,0.0,3.085938,3.054688,3.078125,0.540228,70400,3.190781,NaN
1962-10-10,0.0,3.132813,3.070313,3.070313,0.538857,193600,3.188594,NaN
1962-10-11,0.0,3.070313,3.039063,3.046875,0.534744,86400,3.187344,NaN
1962-10-12,0.0,3.046875,3.015625,3.023438,0.530631,84800,3.184375,NaN
1962-10-15,0.0,3.101563,3.015625,3.085938,0.541600,94400,3.183906,3.652578

In [7]:
for df in dataframes.values():
    df['Previous day close price'] = df.Close.shift(1)

In [8]:
mmm.head()

,Open,High,Low,Close,Adj Close,Volume,MA50,MA200,Previous day close price
Date,,,,,,,,,
1962-01-02,0.0,4.250000,4.125000,4.156250,0.724556,212800,NaN,NaN,NaN
1962-01-03,0.0,4.187500,4.085938,4.187500,0.730004,422400,NaN,NaN,4.156250
1962-01-04,0.0,4.257813,4.187500,4.187500,0.730004,212800,NaN,NaN,4.187500
1962-01-05,0.0,4.171875,4.062500,4.078125,0.710936,315200,NaN,NaN,4.187500
1962-01-08,0.0,4.085938,4.031250,4.054688,0.706851,334400,NaN,NaN,4.078125

In [9]:
for df in dataframes.values():
    df['Change in price'] = df['Close'] - df['Previous day close price']

In [10]:
mmm.head()

,Open,High,Low,Close,Adj Close,Volume,MA50,MA200,Previous day close price,Change in price
Date,,,,,,,,,,
1962-01-02,0.0,4.250000,4.125000,4.156250,0.724556,212800,NaN,NaN,NaN,NaN
1962-01-03,0.0,4.187500,4.085938,4.187500,0.730004,422400,NaN,NaN,4.156250,0.031250
1962-01-04,0.0,4.257813,4.187500,4.187500,0.730004,212800,NaN,NaN,4.187500,0.000000
1962-01-05,0.0,4.171875,4.062500,4.078125,0.710936,315200,NaN,NaN,4.187500,-0.109375
1962-01-08,0.0,4.085938,4.031250,4.054688,0.706851,334400,NaN,NaN,4.078125,-0.023437

In [11]:
for df in dataframes.values():
    df['Percent change in price'] = df.Close.pct_change()

In [12]:
mmm.head()

,Open,High,Low,Close,Adj Close,Volume,MA50,MA200,Previous day close price,Change in price,Percent change in price
Date,,,,,,,,,,,
1962-01-02,0.0,4.250000,4.125000,4.156250,0.724556,212800,NaN,NaN,NaN,NaN,NaN
1962-01-03,0.0,4.187500,4.085938,4.187500,0.730004,422400,NaN,NaN,4.156250,0.031250,0.007519
1962-01-04,0.0,4.257813,4.187500,4.187500,0.730004,212800,NaN,NaN,4.187500,0.000000,0.000000
1962-01-05,0.0,4.171875,4.062500,4.078125,0.710936,315200,NaN,NaN,4.187500,-0.109375,-0.026119
1962-01-08,0.0,4.085938,4.031250,4.054688,0.706851,334400,NaN,NaN,4.078125,-0.023437,-0.005747

In [13]:
for df in dataframes.values():
    df['Previous day volume'] = df.Volume.shift(1)

In [14]:
mmm.head()

,Open,High,Low,Close,Adj Close,Volume,MA50,MA200,Previous day close price,Change in price,Percent change in price,Previous day volume
Date,,,,,,,,,,,,
1962-01-02,0.0,4.250000,4.125000,4.156250,0.724556,212800,NaN,NaN,NaN,NaN,NaN,NaN
1962-01-03,0.0,4.187500,4.085938,4.187500,0.730004,422400,NaN,NaN,4.156250,0.031250,0.007519,212800.0
1962-01-04,0.0,4.257813,4.187500,4.187500,0.730004,212800,NaN,NaN,4.187500,0.000000,0.000000,422400.0
1962-01-05,0.0,4.171875,4.062500,4.078125,0.710936,315200,NaN,NaN,4.187500,-0.109375,-0.026119,212800.0
1962-01-08,0.0,4.085938,4.031250,4.054688,0.706851,334400,NaN,NaN,4.078125,-0.023437,-0.005747,315200.0

In [15]:
for df in dataframes.values():
    df['Change in volume'] = df['Volume'] - df['Previous day volume']

In [16]:
mmm.head()

,Open,High,Low,Close,Adj Close,Volume,MA50,MA200,Previous day close price,Change in price,Percent change in price,Previous day volume,Change in volume
Date,,,,,,,,,,,,,
1962-01-02,0.0,4.250000,4.125000,4.156250,0.724556,212800,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1962-01-03,0.0,4.187500,4.085938,4.187500,0.730004,422400,NaN,NaN,4.156250,0.031250,0.007519,212800.0,209600.0
1962-01-04,0.0,4.257813,4.187500,4.187500,0.730004,212800,NaN,NaN,4.187500,0.000000,0.000000,422400.0,-209600.0
1962-01-05,0.0,4.171875,4.062500,4.078125,0.710936,315200,NaN,NaN,4.187500,-0.109375,-0.026119,212800.0,102400.0
1962-01-08,0.0,4.085938,4.031250,4.054688,0.706851,334400,NaN,NaN,4.078125,-0.023437,-0.005747,315200.0,19200.0

In [17]:
for df in dataframes.values():
    df['Percent change in volume'] = df.Volume.pct_change()

In [18]:
mmm.head()

,Open,High,Low,Close,Adj Close,Volume,MA50,MA200,Previous day close price,Change in price,Percent change in price,Previous day volume,Change in volume,Percent change in volume
Date,,,,,,,,,,,,,,
1962-01-02,0.0,4.250000,4.125000,4.156250,0.724556,212800,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1962-01-03,0.0,4.187500,4.085938,4.187500,0.730004,422400,NaN,NaN,4.156250,0.031250,0.007519,212800.0,209600.0,0.984962
1962-01-04,0.0,4.257813,4.187500,4.187500,0.730004,212800,NaN,NaN,4.187500,0.000000,0.000000,422400.0,-209600.0,-0.496212
1962-01-05,0.0,4.171875,4.062500,4.078125,0.710936,315200,NaN,NaN,4.187500,-0.109375,-0.026119,212800.0,102400.0,0.481203
1962-01-08,0.0,4.085938,4.031250,4.054688,0.706851,334400,NaN,NaN,4.078125,-0.023437,-0.005747,315200.0,19200.0,0.060914

In [ ]:
# Speed it up and more!
for df in dataframes.values():
    # Relative Strength Index (RSI)
    delta = df['Adj Close'].diff()
    gain = (delta.where(delta > 0, 0)).fillna(0)
    loss = (-delta.where(delta < 0, 0)).fillna(0)
    avg_gain = gain.rolling(window=14).mean()
    avg_loss = loss.rolling(window=14).mean()
    rs = avg_gain / avg_loss
    df['RSI'] = 100 - (100 / (1 + rs))
    # Bollinger Bands
    rolling_mean = df['Adj Close'].rolling(window=20).mean()
    rolling_std = df['Adj Close'].rolling(window=20).std()
    df['Bollinger Upper Band'] = rolling_mean + (rolling_std * 2)
    df['Bollinger Lower Band'] = rolling_mean - (rolling_std * 2)
    
    #  Daily Return
    df['Daily Return'] = df['Adj Close'].pct_change()
    
    # Cumulative Return
    df['Cumulative Return'] = (1 + df['Daily Return']).cumprod()
    
    # 20-Day Volatility
    df['20-Day Volatility'] = df['Daily Return'].rolling(window=20).std()
    
    # Price Volatility
    df['Price Volatility'] = df['Adj Close'].rolling(window=10).std()
    
    # MACD - Moving Average Convergence Divergence
    df['EMA12'] = df['Adj Close'].ewm(span=12, adjust=False).mean()
    df['EMA26'] = df['Adj Close'].ewm(span=26, adjust=False).mean()
    df['MACD'] = df['EMA12'] - df['EMA26']
    df['Signal'] = df['MACD'].ewm(span=9, adjust=False).mean()
    df['MACD_Histogram'] = df['MACD'] - df['Signal']
    
    # On Balance Volume (OBV)
    df['Daily Returns'] = df['Adj Close'].pct_change()
    df['Direction'] = [1 if x >= 0 else -1 for x in df['Daily Returns']]
    df['Direction'][0] = 0
    df['OBV'] = (df['Volume'] * df['Direction']).cumsum()
    
    # Price Rate of Change
    df['ROC'] = df['Close'].pct_change(periods=12)

In [21]:
mmm.head(20)

,Open,High,Low,Close,Adj Close,Volume,MA50,MA200,Previous day close price,Change in price,...,Price Volatility,EMA12,EMA26,MACD,Signal,MACD_Histogram,Daily Returns,Direction,OBV,ROC
Date,,,,,,,,,,,,,,,,,,,,,
1962-01-02,0.0,4.250000,4.125000,4.156250,0.724556,212800,NaN,NaN,NaN,NaN,...,NaN,0.724556,0.724556,0.000000,0.000000,0.000000,NaN,0,0,NaN
1962-01-03,0.0,4.187500,4.085938,4.187500,0.730004,422400,NaN,NaN,4.156250,0.031250,...,NaN,0.725394,0.724959,0.000435,0.000087,0.000348,0.007519,1,422400,NaN
1962-01-04,0.0,4.257813,4.187500,4.187500,0.730004,212800,NaN,NaN,4.187500,0.000000,...,NaN,0.726103,0.725333,0.000770,0.000224,0.000547,0.000000,1,635200,NaN
1962-01-05,0.0,4.171875,4.062500,4.078125,0.710936,315200,NaN,NaN,4.187500,-0.109375,...,NaN,0.723770,0.724267,-0.000497,0.000079,-0.000576,-0.026120,-1,320000,NaN
1962-01-08,0.0,4.085938,4.031250,4.054688,0.706851,334400,NaN,NaN,4.078125,-0.023437,...,NaN,0.721167,0.722977,-0.001810,-0.000298,-0.001511,-0.005747,-1,-14400,NaN
1962-01-09,0.0,4.085938,4.039063,4.054688,0.706851,315200,NaN,NaN,4.054688,0.000000,...,NaN,0.718964,0.721782,-0.002818,-0.000802,-0.002015,0.000000,1,300800,NaN
1962-01-10,0.0,4.046875,4.000000,4.007813,0.698679,254400,NaN,NaN,4.054688,-0.046875,...,NaN,0.715844,0.720071,-0.004227,-0.001487,-0.002740,-0.011561,-1,46400,NaN
1962-01-11,0.0,4.031250,3.898438,3.992188,0.695955,225600,NaN,NaN,4.007813,-0.015625,...,NaN,0.712784,0.718284,-0.005501,-0.002290,-0.003211,-0.003899,-1,-179200,NaN
1962-01-12,0.0,4.046875,3.914063,3.914063,0.682336,579200,NaN,NaN,3.992188,-0.078125,...,NaN,0.708099,0.715622,-0.007522,-0.003336,-0.004186,-0.019569,-1,-758400,NaN
1962-01-15,0.0,3.960938,3.914063,3.953125,0.689145,211200,NaN,NaN,3.914063,0.039062,...,0.016659,0.705183,0.713660,-0.008477,-0.004364,-0.004112,0.009980,1,-547200,NaN
1962-01-16,0.0,4.023438,3.937500,4.023438,0.701402,200000,NaN,NaN,3.953125,0.070313,...,0.015605,0.704602,0.712752,-0.008151,-0.005122,-0.003029,0.017786,1,-347200,NaN
1962-01-17,0.0,4.031250,3.968750,3.992188,0.695955,113600,NaN,NaN,4.023438,-0.031250,...,0.013111,0.703271,0.711508,-0.008237,-0.005745,-0.002492,-0.007767,-1,-460800,NaN
1962-01-18,0.0,4.031250,3.976563,4.023438,0.701402,256000,NaN,NaN,3.992188,0.031250,...,0.008633,0.702984,0.710760,-0.007776,-0.006151,-0.001625,0.007827,1,-204800,-0.031955
1962-01-19,0.0,4.015625,3.945313,3.976563,0.693232,142400,NaN,NaN,4.023438,-0.046875,...,0.007663,0.701484,0.709461,-0.007978,-0.006516,-0.001461,-0.011649,-1,-347200,-0.050373
1962-01-22,0.0,4.015625,3.953125,4.000000,0.697317,206400,NaN,NaN,3.976563,0.023437,...,0.006879,0.700843,0.708562,-0.007719,-0.006757,-0.000962,0.005893,1,-140800,-0.044776
1962-01-23,0.0,4.039063,3.984375,3.984375,0.694593,137600,NaN,NaN,4.000000,-0.015625,...,0.005780,0.699881,0.707527,-0.007646,-0.006935,-0.000711,-0.003907,-1,-278400,-0.022989
1962-01-24,0.0,4.015625,3.968750,4.015625,0.700041,116800,NaN,NaN,3.984375,0.031250,...,0.005891,0.699906,0.706972,-0.007067,-0.006961,-0.000106,0.007844,1,-161600,-0.009634
1962-01-25,0.0,4.031250,3.976563,3.992188,0.695955,347200,NaN,NaN,4.015625,-0.023437,...,0.005891,0.699298,0.706156,-0.006858,-0.006940,0.000082,-0.005837,-1,-508800,-0.015414
1962-01-26,0.0,4.015625,3.976563,4.007813,0.698679,99200,NaN,NaN,3.992188,0.015625,...,0.003863,0.699203,0.705602,-0.006400,-0.006832,0.000433,0.003914,1,-409600,0.000000
1962-01-29,0.0,4.023438,3.945313,3.945313,0.687783,180800,NaN,NaN,4.007813,-0.062500,...,0.004173,0.697446,0.704282,-0.006837,-0.006833,-0.000003,-0.015594,-1,-590400,-0.011742

In [22]:
for ticker, data in dataframes.items():
    # Save dataframe to csv
    data.to_csv(f'{ticker}.csv')